* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100vw;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.carousel {
  width: 100%;
  height: 100vh;
  position: relative;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  outline: none;
  box-sizing: border-box;
  background-color: chocolate;
  padding: 10px 20px;
  color: aliceblue;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s linear;
  z-index: 2;
}

.carousel-btn:hover {
  background-color: rgb(192, 95, 26);
}

.previous {
  left: 20px;
}

.next {
  right: 20px;
}

.slide-item {
  position: absolute;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.slide-item[data-active] {
  opacity: 1;
}

.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: flex;
  gap: 20px;
  transform: translateX(-50%);
}

.dot-item {
  width: 20px;
  height: 5px;
  background-color: grey;
}

.dot-item[data-active] {
  background-color: #fff;
}